body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(225, 230, 240);
}

.title{
    text-align:center;
    padding:100px;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.container-for-boxes{
    margin: auto;
    width: 90%;
    border: 3px solid green;
    padding: 15px;
}

.button1{
    position:relative;
    
}

.left-side-container{
    float: left;
    margin: left;
    width:20%;
    padding:200px;
    height:50%;
    border: 3px solid blue;

}

.right-side-container{
    float: right;
    width:20%;
    padding:200px;
    height:50%;
    border: 3px solid blue;

}

.clear{
    clear: both;
}

#table1{
    width:200px;
    height:100px;
}

#table2{
    width:200px;
    height:100px;
}

